a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #c5c4c4;
}
.top-bar-wrapper {
  background-color: black;
}
.bar-wrapper {
  max-width: 1200px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-menu:active .nav {
  display: block;
}
.left-menu .list {
  width: 18px;
  height: 48px;
  position: relative;
}
.left-menu .list li {
  width: 18px;
  height: 1px;
  background-color: white;
  position: absolute;
  transition: 0.5s;
  transform-origin: left;
}
.left-menu .list li:nth-child(1) {
  top: 18px;
}
.left-menu .list li:nth-child(2) {
  top: 24px;
}
.left-menu .list li:nth-child(3) {
  top: 30px;
}
.left-menu .list:active li:nth-child(1) {
  transform: rotateZ(40deg);
}
.left-menu .list:active li:nth-child(2) {
  opacity: 0;
}
.left-menu .list:active li:nth-child(3) {
  transform: rotateZ(-40deg);
}
.left-menu .nav {
  display: none;
  position: absolute;
  padding-top: 60px;
  background-color: black;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 0;
}
.left-menu .nav li {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #757474;
}
.left-menu .nav li a {
  display: block;
  line-height: 44px;
  font-size: 14px;
}
.left-menu .nav li:last-child a {
  display: inline-block;
  margin-right: 6px;
}
.left-menu .nav li span {
  color: white;
  font-size: 14px;
}
.logo a {
  text-indent: -99999px;
  display: block;
  width: 122px;
  height: 32px;
  background-image: url(dff63979.sprites-index@2x.png);
  background-size: 400px 400px;
}
@media only screen and (min-width: 768px) {
  .left-menu {
    order: 2;
    flex: auto;
  }
  .left-menu .nav {
    display: flex;
    position: static;
    padding: 0;
    justify-content: space-around;
  }
  .left-menu .nav li {
    width: auto;
    border-bottom: none;
    margin: 0;
  }
  .left-menu .nav li a {
    line-height: 48px;
  }
  .left-menu .nav li span {
    display: none;
  }
  .left-menu .list {
    display: none;
  }
  .logo {
    order: 1;
  }
  .user-info {
    order: 3;
  }
}
